header.header
    div.menu-wrapper
        div.custom-menu.custom-menu-brand
            //-a.menu-item-brand
                | AD GENOM
        div.custom-menu
            a.menu-item(href="#slide1-anchor")
                | контакти
            //-a.menu-item(href="#slide2-anchor")
                | Slide2
            //-a.menu-item(href="#slide3-anchor")
                | Slide3