div.home-page-content
    div.fixed-bg.bg-1
        div.white-mask
        div.bg-container.under-construction
            div.under-construction-text-block
                img(src="/images/izi-trade-logo.png")
                span
            h1 Сайт знаходиться в розробці
    div.scrolling-bg.color-1
        a#slide1-anchor
        div.bg-container.contacts
            h1 Тел. +380445235900
    //-div.fixed-bg.bg-2
        div.bg-container
            h1 Alternate Fixed & Scroll Backgrounds
    //-div.scrolling-bg.color-2
        a#slide2-anchor
        div.bg-container
            h1 Alternate Fixed & Scroll Backgrounds
    //-div.fixed-bg.bg-3
        div.bg-container
            h1 Alternate Fixed & Scroll Backgrounds
    //-div.scrolling-bg.color-3
        a#slide3-anchor
        div.bg-container
           h1 Alternate Fixed & Scroll Backgrounds
    //-div.fixed-bg.bg-4
       div.bg-container
         h1 Alternate Fixed & Scroll Backgrounds